* {
    box-sizing: border-box;
}
body {
    /* background-image:url(https://acegif.com/wp-content/gifs/fire-17.gif); */
    background-image: url(../2487.png);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 1000px;
    background-position-y: 1000px;
    background-repeat:no-repeat;
    background-position: center;
    background-blend-mode: soft-light;
    background-color: #eec;
    padding: 15px;
}

.main-header {
    padding: 10px;
    color: rgb(109, 3, 25);
}

#usersAttr img {
    height: auto;
    width: 100px;
}

button {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: none;
}

.topMenuHead {
    font-size: 16pt;
    padding: 10px; 
    /* font-style: italic; */
    font-weight: 600;
}

.topMenuHead img {
    margin: 5px;
}

div .col img {
    width: 70%;
    margin-bottom: 10px;
}

.tab {
    background: #f9f9ff;
    border: 12px solid transparent;
    border-radius: 15px 15px 0 0;
    max-width: 200px;
    text-align: center;
    padding: 15px;
}

.user-card {
    max-width: 550px;
    margin: 15px;
    background: #eee;
    border: 5px solid #eee;
    border-radius: 10px;
    overflow: hidden; /* fix for Firefox */
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
}

p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.tab:hover { background: #fff673; }
.tab-active { background: #fff673; }
.rp { /* riigipüha */ background: #F4442E; }
.rt { /* riiklik tähtpäev */ background: white; }
.lt { /* lühendatud tööpäev */ background: #DD6E42; }
.nv { /* nädalavahetus */ background: #F2CC5C; }

.overRed { background: lightcoral; }

#userInfo button {
    width: 100px;
}

.dropdown-menu li {
    padding: 5px;
    padding-left: 15px;
    background: #fff;
}
.dropdown-menu li:hover {
    background: #f1f1f1;
    cursor: pointer;
}
table {
    overflow: hidden;
}

td, th {
    padding: 10px;
    position: relative;
    outline: 0;
    text-align: center;
}

body:not(.nohover) tbody tr:hover {
    background-color: #fff673;
}

td:hover::after,
thead th:not(:empty):hover::after,
td:focus::after,
thead th:not(:empty):focus::after { 
    content: '';  
    height: 10000px;
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: -1;
}

td:hover::after,
th:hover::after {
    background-color: #fff673;
}

td:focus::after,
th:focus::after {
    background-color: lightblue;
}

#calendarView {
    width: auto;
}

#filterNames {
    margin: -5px;
}